/Ex01.class
/Ex02.class
/Ex03.class
/Ex04NestedIF.class
/Ex05NestedIf2.class
/Ex06Switch.class
/Ex07Switch02.class
/Ex08ForLoop.class
/Ex09ForLoop02.class
/Ex10NextedForLoop.class
/Ex11PrimeNumber.class
/sss.class
